/* Flexbox wrapper to allow the footer to be pushed to the bottom */
.content-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  position:sticky;
  width: 100%;
  overflow: hidden;
}

main {
  flex: 1; /* Allow main content to grow and take available space */
}

footer {
  color: aliceblue;
  background: linear-gradient(to right, #000000, #3a3a3a);
  height: auto;
  display: flex;
  justify-content: space-between; /* Aligns content horizontally */
  align-items: center; /* Centers content vertically */
  padding-top: 20px; /* Adds padding for spacing */
}

.postpilot-logo img {
  width: 80px;
  position: relative; 
  bottom: 7px;
  right: 10px;
  overflow-y: hidden;

}